<!DOCTYPE html>
<html>
<head>
  <title>Blog de BD</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert%></p>
  <header>
    <nav class="be-red white large-padding"> 
      <ul class="no-list row center-xs middle-xs">  
      <h1 class="no-margin" id="logo"> Reportaje Salvaje </h1>
        <li class="col-md">
          <%= link_to "Inicio", root_path %>
        </li>
        <li class="col-md">
          <%= link_to "Articulos", articles_path %>
        </li>
        <li class="col-md">
          <%= link_to "Contacto", articles_path %>
        </li>
        <li class="col-md">
          Tecnología
        </li>
      </ul>
    </nav> 
  </header>

<%= yield %>

</body>
</html>
